<ion-header>

    <ion-navbar>
        <ion-title>Ejemplos</ion-title>
    </ion-navbar>

</ion-header>

<ion-content>

    <ion-list>
        <ion-list-header text-center>
            <h1> <b> <u> Contenedores Sucios </u>  </b> </h1>
        </ion-list-header>
        <ion-item *ngFor="let basura of basurasDeEjemplo">
            <ion-thumbnail item-start class="thumbnailGrande" text-center>
                <img [src]="basura.img">
            </ion-thumbnail>
            <h2 text-wrap><b> {{ basura.nombre }} </b></h2>
            <h2 text-wrap> {{ basura.zona }} </h2>
            <h3 text-wrap> Calificación: {{ basura.calificacion }} </h3>
            <h4 text-wrap> Llenado: {{ basura.llenado }} % </h4>
            <h4 text-wrap *ngIf="basura.estado"> Estado: {{ basura.estado }} </h4>
            <p text-wrap *ngIf="basura.observaciones"> Observaciones: {{ basura.observaciones }} </p>
            <p text-wrap> Calificación hecha: {{ basura.fecha | date:"medium" }} </p>
        </ion-item>

        <ion-list-header text-center>
            <h1> <b> <u> Contenedores Rotos </u>  </b> </h1>
        </ion-list-header>
        <ion-item *ngFor="let basura of basurasDeEjemplo2">
            <ion-thumbnail item-start class="thumbnailGrande">
                <img [src]="basura.img">
            </ion-thumbnail>
            <h2><b> {{ basura.nombre }} </b></h2>
            <h2> {{ basura.zona }} </h2>
            <h3> Calificación: {{ basura.calificacion }} </h3>
            <h4> Llenado: {{ basura.llenado }} % </h4>
            <h4 *ngIf="basura.estado"> Estado: {{ basura.estado }} </h4>
            <p *ngIf="basura.observaciones"> Observaciones: {{ basura.observaciones }} </p>
            <p> Calificación hecha: {{ basura.fecha | date:"medium" }} </p>
        </ion-item>


        <ion-list-header text-center>
            <h1> <b> <u> Contenedores llenos </u>  </b> </h1>
        </ion-list-header>
        <ion-item *ngFor="let basura of basurasDeEjemplo3">
            <ion-thumbnail item-start class="thumbnailGrande">
                <img [src]="basura.img">
            </ion-thumbnail>
            <h2><b> {{ basura.nombre }} </b></h2>
            <h2> {{ basura.zona }} </h2>
            <h3> Calificación: {{ basura.calificacion }} </h3>
            <h4> Llenado: {{ basura.llenado }} % </h4>
            <h4 *ngIf="basura.estado"> Estado: {{ basura.estado }} </h4>
            <p *ngIf="basura.observaciones"> Observaciones: {{ basura.observaciones }} </p>
            <p> Calificación hecha: {{ basura.fecha | date:"medium" }} </p>
        </ion-item>
    </ion-list>

</ion-content>